/* File input container */
.file-input-container {
  position: relative;
  width: 100%;
}

/* File input */
.file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* File input label */
.file-input-label {
  display: inline-block;
  padding: 10px 20px;
  /* background-color: var(--light-gray); */
  width: 100%;
  color: #333;
  border-radius: 5px;
  border: 2px solid var(--light-gray);
}

/* File input label focus */
.file-input-container:focus-within {
  /* outline: none; */
  outline: 2px solid var(--primary);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
