@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;900&display=swap");
body {
  font-family: "Raleway", sans-serif !important;
  overflow-x: hidden;
}
.fcontainer {
  display: flex;
  width: 100vw;
  height: 5rem;
  padding: 1.5rem 2rem 1.5rem 3em;
  align-items: center;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(203, 201, 201, 0.25);
  gap: 21rem;
}
.menu {
  display: flex;
  gap: 50px;
  align-items: center;
}
.logo {
  width: 9.4375rem;
  flex-shrink: 0;
  color: #304bab;
  font-size: 3.30875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.home {
  color: #0a0a0a;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.services {
  color: #0a0a0a;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.joinus {
  color: #0a0a0a;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog {
  color: #0a0a0a;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.aboutus {
  color: #0a0a0a;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cocreate {
  box-sizing: border-box;
  display: flex;
  padding: 0.8rem 0.7rem;
  font-size: 1rem;
  background: #304bab;
}
.cocreatewithus {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.main {
  height: 100vh;
}
img.handshake {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  display: inline-block;
}

.mainone {
  width: 40rem;
  color: #000;
  font-family: Raleway;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.25rem;
  margin-top: 3.25rem;
  gap: 3rem;
  padding-left: 2.75rem;
  letter-spacing: 2.75px;
  line-height: 3.85rem;
}
.maintwo {
  color: #304bab;
  gap: 3rem;
}
.mainthree {
  color: #0b0b0c;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 2.75rem;
  margin-top: 3.75rem;
}
.mainfour {
  width: 36.875rem;
  color: #000;
  text-align: justify;
  font-family: Raleway;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 2.5px;
  padding-left: 2.75rem;
  margin-top: 3.5rem;
}
.mainfive {
  width: 38rem;
  height: 38rem;
  position: absolute;
  right: 0rem;
  bottom: -3.95rem;
  border-radius: 0rem 0rem 0rem 7.6875rem;
  background: #f3efef;
  margin-top: 6rem;
}
.joinsystematic {
  color: #0b0b0c;
  text-align: justify;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-left: 2.75rem;
  line-height: 6rem;
}
img.blackarrow {
  width: 1.25rem;
  height: 1.25rem;
  padding-left: 0rem;
}
.buildwithus {
  color: #304bab;
  text-align: justify;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-left: 2.75rem;
  line-height: 6rem;
}
img.bluearrow {
  width: 1.25rem;
  height: 1.25rem;
  padding-left: 0rem;
}
.buttons {
  display: flex;
  gap: 1.5rem;
}
.joinsystematic,
.buildwithus {
  display: flex;
  gap: 0.05rem;
}
.fbluebox {
  display: flex;
  height: 26rem;
  width: 85vw;
  border-radius: 0rem 3.75rem 3.75rem 0rem;
  background: #304bab;
  margin-top: 3rem;
  align-items: center;
  /* justify-content: space-between; */
}

.fbox {
  /* flex-direction: column; */
  background-color: rgb(147, 147, 242);
  width: 20rem;
  height: 16rem;
  border-radius: 1rem 1rem 1rem 1rem;
  /* padding: 9rem; */
  margin-left: 3rem;

  align-items: center;
  justify-content: center;
}

.fbox > .sms,
.fbox > .googlemobile,
.fbox > .setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
img:is(.sms, .setting, .googlemobile) {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-bottom: 1.2rem;
}

/* .googlemobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -80px;
} */

img.googlemobile {
  /* width: 84.62px;
  height: 82px; */
}
/* .setting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -80px;
} */
img.setting {
  /* width: 82px;
  height: 82px; */
}
.text-below {
  text-align: justify;
  /* position: absolute;   */
  /* margin-top: 3.75rem; */
  /* margin-left: -30px; */
  width: 15rem;
  font-size: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway;
  /* font-weight: bolder; */
  /* background-color: red; */
}
.text-below b {
  font-weight: bolder;

  /* background-color: red; */
}

.textone {
  margin-top: 0.5rem;
  text-align: ju;
  display: flex;
  align-items: center;
  font-family: Raleway;
  /* font-weight: 900px; */
  font-size: 0.8rem;
  color: #fff;
  justify-content: center;
  align-items: flex-start;
}
.ourservices {
  position: absolute;
  color: #ffffff;
  font-family: Raleway;
  font-size: 2rem;
  /* top: 
  ; */
  /* padding-top: 2rem; */
  /* font-style: Light; */
  text-transform: uppercase;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  height: 26rem;
  width: 86vw;
}
